/*


*/

button {
  &.mobile-nav-btn {
    background: none;
    border: none;
    margin: 10px;
    cursor: pointer;
    max-width: 50px;
    justify-self: end;
    margin: 0 30px;
  }

  svg {
    width: 40px;
    height: 40px;
  }
}

/* 

  Large down 

*/

@media (max-width: 1023px) {
  .mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow-x: hidden;
    //transition: transform 0.3s ease-in-out;
  }

  .mobile-nav-btn-close {
    color: #000;
    background: none;
    border: none;
    margin: 10px;
    cursor: pointer;
    max-width: 50px;
    z-index: 50;

    position: absolute;
    top: 3px;
    right: 5px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }

  .mobile-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .mobile-nav li {
    border-bottom: 1px solid #eee;
  }

  .mobile-nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #006636;
  }

  .mobile-nav .sub-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
  }

  .mobile-nav .sub-menu.active {
    display: block;
    transform: translateX(-100%);
  }

  .mobile-nav .menu-item-has-children > a::after {
    content: "\25BA";
    font-size: 0.75rem;
    float: right;
  }

  .mobile-nav .back-btn {
    display: block;
    padding: 15px;
    background-color: #f0f0f0;
    text-align: center;
    cursor: pointer;
  }

  .mobile-nav .spacer {
    display: block;
    padding: 15px;
    background-color: #f0f0f0;
    color: #f0f0f0;
  }
}
